language: c

addons:
  apt:
    packages:
     - cmake
     - yasm
  homebrew:
    packages:
     - yasm

matrix:
  include:
   - os: linux
     dist: xenial
   - os: macos
     osx_image: xcode9.4

script:
  - cd Build/linux
  - ./build.sh release
